* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 50px 50px;
  border-radius: 8px;
  max-width: 500px;
}

.err {
  color: red;
}

.hide-show {
  cursor: pointer;
  /* position: absolute; */
  margin-left: 280px;
  margin-top: -30px;
  color: gray;
  font-size: 14px;
}

.form-control {
  min-width: 350px;
}
